<!DOCTYPE html>
<html>
  <head>
    <title>UNO Points Helper</title>
  </head>
  <body>
    <h1>UNO Points Helper</h1>
    <p>Play UNO in formal Way!</p>
    <ul>
      <li>回数</li>
      <li>人数</li>
    </ul>
    <p>Start Game</p>
  </body>
</html>
