<div class="how-to-count">
  <h1>点数の数え方</h1>
  <p>0-9の数字カードはその数字の点数</p>
  <p>スキップ、リバース、ドロー2は20点</p>
  <p>ワイルド、ワイルドドロー4は50点</p>
</div>
<p>1/5</p>
<div class="player">
  花子：10
</div>
<div class="player">
  健：10
</div>
<div class="player">
  ジョン：10
</div>

<p>決定</p>