<!DOCTYPE html>
<html>
  <head>
    <title>UNO Points Helper</title>
  </head>
  <body>
    <h1>最終結果</h1>
    <ol>
      <li>花子</li>
      <li>健</li>
      <li>ジョン</li>
    </ol>
    <p>このまま続ける？</p>
    <p>終了する？</p>
  </body>
</html>
